h3 {
    font-size: 120%;
    font-family: 'Roboto', sans-serif;    
}

/* Farge på linken etter det har blitt trykket på */
a:visited {  
    color: rgb(248,225,192);
}

/* Farge på linken */ 
a:link { 
    color: rgb(248,225,192);
}


/* Bakgrunnsbilde */
.hovedbilde {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    /* Bilde hentet fra: https://images.unsplash.com/photo-1546549032-9571cd6b27df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80 */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%),url("../images/booking-side-bakgrunn.jpg");
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: 50% 60%;
    opacity: 0.8;
}

/* Tekst på bilde */
#booking-overskrift {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 600%;    
    position: absolute;
    text-align: center; 
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(248, 225, 192)
}



/* Div for å få alt innhold i book-bord sentrert */ 
.container { 
    display: flex;
    justify-content: center;
}

/* Div for å få alt innhold i book-lokale sentrert */ 
.container2 { 
    display: flex;
    justify-content: center;
    flex-direction: row;
}



/* Grå boks bak bildet og tekst */ 
.book-bord-boks { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    height: 45vh;
    background-color: #2b2b29;
    margin-top: 5%; 
    padding: 50px;
}

/* Bildet til book bord */ 
#book-bord-bilde { 
    display: flex;
    justify-content: center;
    width: 600px;
    height: 100%;  
    object-fit: cover;
    object-position: 20% 90%;
    align-items: center;
}

/* Teksten til book bord */ 
.book-bord-tekst { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin-left: 5%;
    margin-top: -10%;
    color: rgb(248, 225, 192);
}

/* Tabellen til dato */ 
form { 
    color: rgb(248, 225, 192);
    font-family: 'Roboto', sans-serif;    
    font-weight: lighter;
}



/* Popup og popup-tekst (inkl. engelske kommentarer) hentet fra w3schools (https://www.w3schools.com/howto/howto_js_popup.asp) for å gi en bekreftelse på at du har sendt søknaden */ 
.popup {
    position: absolute;
    margin-top: 23%;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(248, 225, 192);
    font-family: 'Roboto', sans-serif;    
    font-weight: lighter;
    padding: 10px;
    border-radius: 7%;
    border: 0.7px solid white;
    z-index: 10;
}

/* The actual popup */
.popup .popup-tekst {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 2;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popup-tekst::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
/* For å vise/skjule meldingen etter du har trykket på submit knappen */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}



/* Grå boks bak bilde og info */
.book-lokale-boks {  
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 60%;
    height: 40vh;
    background-color: #2b2b29;
    margin-top: 5%; 
    padding: 50px;
 
}

/* Bilde til book lokale */ 
#book-lokale-bilde {  
    display: flex;
    justify-content: center;
    width: 600px;
    height: 100%;  
    object-fit: cover;
    object-position: 25% 95%;
    color: rgb(248, 225, 192);
    margin-left: 10%;
}

/* Teksten til book lokale */ 
.book-lokale-tekst { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin-left: -10%;
    color: rgb(248, 225, 192);
}



/* Skalert til ipad og tablets */ 
@media(max-width: 1000px) { 
    .hovedbilde {
        width: 100%
    }
    
    #booking-overskrift {
        font-size: 300%
    }

    .bakgrunnsfarge{
        background-color: #2b2b29;
    }

    .book-bord-boks {
        margin-left: 5%;
        margin-top: 5%;
        height: 400px;
        width: 800px;
    }

    #book-bord-bilde {
        margin-top: 10%;
        height: 300px;
        width: 300px;
    }

    .book-bord-tekst  {
        margin-top: -10%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 15px;
    }

    .book-lokale-boks {
        margin-left: 0%;
        margin-top: 5%;
        height: 400px;
        width: 800px;
    }

    #book-lokale-bilde {
        margin-top: 10%;
        margin-left: 10%;
        height: 300px;
        width: 300px;
    }

    .book-lokale-tekst {
        margin-top: -10%;
        margin-left: 0%;
        font-size: 15px;
    }
    
    p {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;    
    }

    .popup {
        margin-top: 55%;

    }

}

/* Skalert til mobil feks iphone 12 pro */
@media(max-width: 768px) { 
    .hovedbilde {
        width: 100%
    }
    
    #booking-overskrift {
        font-size: 300%
    }

    .bakgrunnsfarge{
        background-color: #2b2b29;
    }
    
    .book-bord-boks {
        flex-direction: column;
        justify-content: center;
        height: 650px;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    #book-bord-bilde {
        margin-top: 10%;
        height: 250px;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .book-bord-tekst  {
        margin-top: 0%;
        font-size: 15px;
        margin-left: 0%;
        margin-right: 0%;
    }

    .book-lokale-boks {
        flex-direction: column;
        margin-top: 5%;
        height: 695px;
        width: 100%;
    }

    #book-lokale-bilde {
        height: 250px;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .book-lokale-tekst {
        margin-top: 10%;
        font-size: 15px;
        margin-left: 0%;
        margin-right: 0%;
    }
 
    p {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;    

    }

    .popup {
        margin-top: 100%;
        margin-left: 0%; 

    }

    #kontakt{
        margin-left: 15px;
    }
}