.hovedbilde {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    /* Bilde hentet fra: https://images.unsplash.com/photo-1546549032-9571cd6b27df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80 */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%),url("../images/booking-side-bakgrunn.avif");
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: 50% 60%;
    opacity: 0.8;
}

/* Tekst på bilde */
#booking-overskrift {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 600%;    
    position: absolute;
    text-align: center; 
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(248, 225, 192)
}
.container {
    display: flex;
    justify-content: center;
}
.container2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.bookbordboks { /* Grå boks bak bildet og tekst */ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    height: 45vh;
    background-color: #2b2b29;
    z-index: -1;
    margin-top: 5%; 
}

#book-bord {
    display: flex;
    justify-content: center;
    width: 450px;
    height: 250px;  
    object-fit: cover;
    object-position: 20% 90%;
    margin-top: 10%;
    margin-left: 10%;
}

.book-bord {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-top: -3%;
    color: rgb(248, 225, 192);
}

form {
    margin-left: 10%;
    color: rgb(248, 225, 192);
    font-family: 'Roboto', sans-serif;    
    font-weight: lighter;
}

.booklokaleboks { /* Grå boks bak bilde og info */ 
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 70%;
    height: 40vh;
    background-color: #2b2b29;
    z-index: -1;
    margin-top: 5%; 
 
}

#book-lokale {
    display: flex;
    justify-content: center;
    width: 450px;
    height: 250px;  
    object-fit: cover;
    object-position: 25% 95%;
    margin-left: -10%;
    margin-top: 10%; 
    color: rgb(248, 225, 192)
}

.book-lokale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0%;
    margin-right: 15%;
    color: rgb(248, 225, 192);
}


a:visited {
    color: rgb(248,225,192);
}

a:link {
    color: rgb(248,225,192);
}

/* Popup og popup-tekst hentet fra w3schools (https://www.w3schools.com/howto/howto_js_popup.asp) for å gi en bekreftelse på at du har sendt søknaden */ 
.popup {
    position: absolute;
    margin-left: 3%;
    margin-top: 21%;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(248, 225, 192);
    font-family: 'Roboto', sans-serif;    
    font-weight: lighter;
}

/* The actual popup */
.popup .popup-tekst {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 2;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popup-tekst::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

h3 {
    font-size: 120%;
    font-family: 'Roboto', sans-serif;    
}

#kontakt {
    margin-left: 15%;
    position: absolute;
}

#aapningstider {
    margin-left: 67%;
    position: absolute; 
}

 @media(max-width: 1000px) {
    .hovedbilde {
        width: 100%
    }
    
    #booking-overskrift {
        font-size: 300%
    }
    
    .bookbordboks {
        margin-left: 5%;
        margin-top: 5%;
        height: 400px;
        width: 800px;
    }

    #book-bord {
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        height: 300px;
        width: 300px;
    }

    .book-bord  {
        margin-top: -10%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 15px;
    }

    .booklokaleboks {
        margin-left: 5%;
        margin-top: 5%;
        height: 400px;
        width: 800px;
    }

    #book-lokale {
        margin-top: 10%;
        margin-left: -15%;
        height: 300px;
        width: 300px;
    }

    .book-lokale{
        margin-top: -10%;
        margin-left: 5%;
        font-size: 15px;
    }
    

    form {
        margin-left: 20%;
    }

    
    p {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;    
    }

    .popup {
        margin-left: 20%;

    }

}

@media(max-width: 768px) {
    .hovedbilde {
        width: 100%
    }
    
    #booking-overskrift {
        font-size: 300%
    }
    
    .bookbordboks {
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
        margin-top: 5%;
        height: 650px;
        width: 41vh;
    }

    #book-bord {
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        height: 250px;
        width: 250px;
    }

    .book-bord  {
        margin-top: 0%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 15px;
    }

    .booklokaleboks {
        flex-direction: column;
        margin-left: 5%;
        margin-top: 5%;
        height: 695px;
        width: 41vh;
    }

    #book-lokale {
        margin-top: 10%;
        margin-left: 10%;
        height: 250px;
        width: 250px;
    }

    .book-lokale{
        margin-top: 10%;
        margin-left: 5%;
        font-size: 15px;
    }
    

    form {
        margin-left: 20%;
    }

    
    p {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;    

    }

    .popup {
        margin-left: 20%;
        margin-top: 80%;

    }

    #kontakt{
        margin-left: 5px;
    }
}

 