@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@700&family=Yeseva+One&display=swap');

/* CSS som skal brukes til flere av sidene */

/* Gjør at siden scroller når man hopper til et punkt på siden */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #242422;
    margin: 0;
}

h1 {
    text-align: center;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}



/* Navigasjonsbar */
.navbar {
    height: 80px;
}
/* Fjerner styling fra linkene, setter transition duration for animasjon ved hover */
.navbar a {
    color: #FFF8EA;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-right: 20px;
    padding-bottom: 5px;
    text-decoration: none;
    transition-duration: 0.6s;
}
/* Fargeendring og understrek ved pekeren over */
.navbar a.active {
    border-bottom: 2px solid rgb(118, 118, 118);

}
.navbar a:hover {
    border-bottom: 2px solid rgb(118, 118, 118);
    color: rgb(174, 174, 174);
}
/* Plassering av ikoner i navbar, og videre formattering */
.navbar .container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px;
    z-index: 1;
}

/* Formattering av logo */ 
.logo {
    display: flex;
    width: 200px;
    z-index: 1;
}

/* Plasserer en bakgrunn nederst til høyre i en div. Brukes som bakgrunn for bildetekst, og formaterer derfor også teksten inni */
.bilde-tekst{
    background-color: rgba(0, 0, 0, 0.456);
    border-radius: 15px 0px 0px 15px;
    bottom: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    position: absolute;
    right: 0px;
}



/* Global footer */
footer {
    background-color: #171716;
    height: 300px;
    margin-top: 100px;
    width: 100%;
}

/* Font-design i footer */
.footer-tekst, 
.footer-overskrift {
    color: rgb(248, 225, 192);
    font-family: 'Roboto', sans-serif;    
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1.2px;
}

.footer-overskrift {
    font-size: 28px;
    text-align: left;
}

/* Formattering av innholdet i footer */
.footer-innhold {
    background-color: #171716;
    height: 100%;
    display: flex;
    margin-left: auto;
    justify-content: space-evenly;
}

/* Kontakt-oss og åpningstider-delen av footer */
.kontakt,
.aapningstider {
    margin: 20px;
    margin-bottom: 0;
    margin-top: 70px;

}



/* Nedskalering til mobilversjon */
@media(max-width: 768px){
    /*Forhindrer at bredden blir for høy på mobil*/
    ul {
        flex-direction: column;
        margin-top: 0;
        padding-left: 0;
    }

    li {
        padding-bottom: 10px;
    }
    
    .navbar a {
        font-size: 20px;
        margin-left: 20px;
        margin-top: 20px;

    }

    .navbar .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .logo {
        margin-top: 0;
        padding-bottom: 30px;
        width: 280px;
    }

    .bilde-tekst{
        font-size: 12px;
    }


    footer {
        margin-top: 0;
    }
    .footer-tekst {
        font-size: 12px;
    }
    .footer-innhold{
        flex-direction: column;
        align-items: baseline;
        padding-top: 0px;
        height: 400px;
        margin-top: 0;
    }
    .footer-overskrift {
        font-size: 20px;
    }
    .aapningstider,
    .kontakt {
        margin-top: 0;
    }

}