/* Forside */
.hovedbilde {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* Bilde hentet fra: "https://images.unsplash.com/photo-1546549032-9571cd6b27df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url("https://images.pexels.com/photos/776538/pexels-photo-776538.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: bottom left;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Tekst på miden av forsiden */
#midt-tekst {
    color: rgb(248, 225, 192);
    font-size: 70px;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: thick;
    letter-spacing: 0.6px;
    margin-top: 30vh;
    padding: 0px 40px;
}

/* Undertekst */
#undertekst {
    margin-left: auto;
    margin-right: auto;
    color: rgb(248, 225, 192);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}

/*  Pil for å scrolle ned på siden. Generert ved hjelp av en rotert firkant som kun har border høyre og under for å danne en pil. */
.pil {
    display: flex;
    justify-content: center;
    border: solid #FFF8EA;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 20px;
    z-index: 10;
    bottom: 50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 10;
}

/* Sentrerer pilen og plasserer den */ 
#pil-ned-a {
    display: flex;
    justify-content: center;
    bottom: 50px;
    margin-top: 100px;
}

.pil:hover {
    border: solid darkgrey;
    border-width: 0 7px 7px 0;
}

.overskrift {
    color: rgb(165, 102, 73);
    font-size: 40px;
}

/* Justerer skriftstørrelse utifra vindustørrelse*/
.del-1-tekst, .del-2-tekst, .del-3-tekst {
    font-size: 3vmin;
    color: rgb(165, 102, 73);
}
/* Del 1 av siden*/
.del-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}
.del-1-venstre {
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;
    z-index: 1;
}
.del-1-høyre {
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;
}
.del-1-høyre img {
    display: flex;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-right: 7vw;
}
.del-1-tekst {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: left;
    margin-left: 20%;
    margin-right: 50px;
    margin-top: 0;
}
.del-1-tekstboks .overskrift {
    color: rgb(165, 102, 73);
    text-align: left;
    margin-left: 20%;
}
/* Strek for å løfte designet */
.del-1-tekstboks #strek {
    margin-left: 20%;
    margin-top: 40px;
    width: 10%;
}
#strek-1 {
    width: 15%;
    background-color: rgb(165, 102, 73);
    height: 2px;
    margin-left: 20%;
    margin-top: 50px;
}



/* Del 2 av siden*/
.del-2 {
    height: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF8EA;
    position: relative;    
    padding-top: 50px;
    padding-bottom: 50px;
}
.del-2-tekstboks {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
}
.del-2-tekst {
    font-family: 'Roboto', sans-serif;  
    text-align: center;  
    font-weight: lighter;
    color: rgb(165, 102, 73);
    padding-bottom: 50px;
}
#strek-2 {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: rgb(165, 102, 73);
    height: 2px;
}
/* Knapp til booking */
.til-booking-knapp {    
    background-color: #FFF8EA;
    color: black; 
    border: 2px solid rgb(165, 102, 73);
    border-radius: 5px;
    color: rgb(165, 102, 73);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 10099999000;
}
.til-booking-knapp:hover {
    background-color: rgb(165, 102, 73); 
    color: #FFF8EA; 
}



/* 
    Del 3 av siden. 
    Bruker flex for å plassere elementer i forhold til hverandre.
*/
.del-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: row-reverse;
}
.del-3-høyre {
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;
    margin-left: 5vw;
    padding-right: 7vw;
    z-index: 1;
}
.del-3-venstre img {
    display: flex;
    width: 40vw;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-right: 30px;
    padding-left: 7vw;
    padding-right: 2vw;
}
.del-3-tekst {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: left;
    margin-right: 50px;
    margin-top: 0;
}
.del-3-tekstboks .del-3-overskrift {
    color: rgb(165, 102, 73);
    padding-bottom: 30px;
}
.del-3-overskrift {
    color: rgb(165, 102, 73);
    font-size: 40px;
    text-align: left;
}

#strek-3 {
    width: 15%;
    background-color: rgb(165, 102, 73);
    height: 3px;
    margin-left: 0px;
    margin-top: -25px;
    margin-bottom: 25px;
}

#lokale-bilde {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    position: absolute;
    opacity: 0.5;
}

/* Knapp til menyen */
.til-meny-knapp {    
    background-color: #ffffff;
    color: black; 
    border: 2px solid rgb(165, 102, 73);
    border-radius: 5px;
    color: rgb(165, 102, 73);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 10;
}
.til-meny-knapp:hover {
    background-color: rgb(165, 102, 73); 
    color: #FFF8EA; 
}



/* CSS for telefon */
@media(max-width: 768px){

    #midt-tekst {
        font-size: 45px;
        padding: 20px;
    }
    #undertekst {
        font-size: 15px;
        padding-top: 15px;
    }

    /* Pil */ 
    #pil-ned-a {
        z-index: 100;
    }
    .pil {
        border: solid white;
        border-width: 0 5px 5px 0;
        margin-top: 40px;
    }
    .pil:hover {
        border-width: 0 5px 5px 0;
    }

    .del-1-tekst, .del-2-tekst, .del-3-tekst {
        text-align: center;
        font-size: 4vmin;
        padding: 30px;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
    }
   

    /* Endrer retning på flex for å gjøre det mer mobilvennlig. */
    .del-1 {
        flex-direction: column;
        justify-content: center;
        height: 730px;
        padding: 0;
    }

    .del-2 {
        height: 300px;
    }
    
    /* Del 3 av nettsiden */
    .del-3 {
        justify-content: center;
        height: 730px;
        padding: 0;
        flex-direction: column-reverse;
    }

    .overskrift {
        display: flex;
        justify-content: center;
        font-size: 25px;
        margin-left: 0;
        margin-top: 0;
        padding-bottom: 0;
        margin-top: 50px;
    }

    .del-1-tekstboks .overskrift {
        margin-left: 0;
    }

    .del-1-tekstboks {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .del-1-tekst {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 4vmin;
        margin: 25px 0 0 0;
        padding: 30px;
        padding-top: 0px;
    }
    .del-1-høyre {
        padding-right: 0px;

    }
    .del-1-høyre img {
        display: flex;
        justify-content: center;   
        height: 350px;     
        width: 100%;
        align-self: end;
        margin-right: 0;
        padding-right: 0;
    }

    #strek-1 {
        display: none;
        height: 1px;
        margin-left: auto;
    }
    #strek {
        height: 0.7px;
        display: none;
    }

    .del-2-tekst {
        padding: 0;
        padding-bottom: 50px;
    }

    .del-2-tekstboks {
        width: 80%;
    }

    .del-3-tekstboks #strek {
        margin-left: auto;
        margin-top: -200px;
    }

    #del-3-tekst {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 4vmin;
        margin-left: 0;
        margin-top: 30px;
        padding: 30px;
        margin-right: 0;
    }

    .del-3-venstre img {
        display: flex;
        justify-content: center;   
        height: 350px;     
        width: 100%;
        align-self: end;
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .del-3-tekstboks {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .del-3-høyre {
        padding-right: 0;
        overflow: hidden;
        height: 500px;
        padding-left: 0;
        margin-left: 0;
    }

    .del-3-overskrift {
        display: flex;
        justify-content: center;
        font-size: 25px;
        margin-left: 0;
        margin-top: 0;
        padding-bottom: 0;
        margin-top: 30px;
    }

    .del-3-tekst {
        text-align: center;
        margin:0;
        padding: 30px;
        padding-top: 0px;
    }

    #strek-3 {
        display: none;
    }

    .til-booking-knapp, .til-meny-knapp {    
        padding: 10px 25px;
        font-size: 12px;
        border-width: 1px;
    }

    .til-meny-knapp {
        margin-bottom: 50px;
    }
}