h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 225, 192);
    margin: 0;
    padding: 0;
    font-size: 250%;
    text-align: center;
}

h3 {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 110%
}

p {
    color: silver;
    font-size: 110%
}

a {
    text-decoration: none;
    color: white;
}



/* Bakgrunnsbildet i header */
.hovedbilde {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* Bilde hentet fra: "https://images.unsplash.com/photo-1546549032-9571cd6b27df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,#242422 100%),url("../images/meny-header-bakgrunn.jpg");
    z-index: -2;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Størrelses-, farge- og fontendringer for overskriften */
#overskrift {
    font-family: 'Roboto', sans-serif;
    color: rgb(248, 225, 192);
    font-size: 100px;
    padding-top: 200px;
    font-weight: lighter;
}



/* Lager en pil som roteres slik at den peker nedover */
.pil {
    display: flex;
    justify-content: center;
    border: solid #FFF8EA;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 20px;
    z-index: 10;
    bottom: 50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.pil:hover {
    border: solid darkgrey;
    border-width: 0 7px 7px 0;
}

/* Plasserer pilen */
#pil-ned-a {
    display: flex;
    justify-content: center;
    bottom: 50px;
    margin-top: 70vh;
}

/* Selve meny-delen, dvs. <main> */
.meny {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    background-color: #2b2b29;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Lager tomrom mellom matrettene */
.matrett {
    margin: 50px 0;
}

/* .left og .pris brukes til å feste navn og pris til samme linje */
.left {
    text-align: left; 
    margin-left: 10%;
}

.pris {
    float: right;
    margin-right: 10%;
}

/* Allergen posisjon og farge */
.allergen {
    margin-left: 10%;
    font-size: 15px;
    color: rgb(177, 160, 137);
}

/* Egen farge for vegetar-retter */
#vegetar {
    font-size: 15px;
    color: rgb(87, 186, 85);    
}



/* Nedskalering til mobil */
@media(max-width: 768px){
    .hovedbilde {
        height: 500px;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,#2b2b29 100%),url("../images/meny-header-bakgrunn.jpg");
    }

    .meny{
        width: 100%;
        margin-top: 0%;
    }

    #overskrift{
        font-size: 50px;
    }

    .matrett{
        margin-right: 10px;
    }

    /* Fjerner pilen på mobilversjonen */
    .ned {
        z-index: -1;
    }
}