h2 {
    color: rgb(248, 225, 192);
    font-family: 'roboto', sans-serif;
    font-size: 250%;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    text-align: center;
}

h3 {
    color: white;
    font-size: 110%;
    margin: 0;
    padding: 0;
}

p {
    color: silver;
    font-size: 110%
}

a {
    color: white;
    text-decoration: none;
}



/* Bakgrunnsbildet i header */
.hovedbilde {
    /* Bilde hentet fra: "https://unsplash.com/photos/t8hTmte4O_g", Fotograf: Bruna Branco */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,#242422 100%),url("../images/meny-header-bakgrunn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -2;
}

/* Størrelses-, farge- og fontendringer for overskriften */
.overskrift {
    color: rgb(248, 225, 192);
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    font-weight: lighter;
    padding-top: 200px;
    text-shadow: 0px 2px 30px rgba(0,0,0,1);
}

/* For å kunne sitere fotograf og kilde med tekst oppå bilder */
.bilde-container{
    position: relative;
}



/* Lager en pil som roteres slik at den peker nedover */
.pil {
    -webkit-transform: rotate(45deg);
    border: solid #FFF8EA;
    border-width: 0 7px 7px 0;
    bottom: 50px;
    padding: 20px;
    transform: rotate(45deg);
    z-index: 10;
}
.pil:hover {
    border: solid darkgrey;
    border-width: 0 7px 7px 0;
}
/* Plasserer pilen */
.pil-ned-a {
    bottom: 50px;
    display: flex;
    justify-content: center;
    margin-top: 70vh;
}



/* Selve meny-delen, dvs. containeren inni <main>*/
.meny {
    background-color: #2b2b29;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    padding-bottom: 20px;
    padding-top: 50px;
    width: 50%;
}

/* Lager tomrom mellom matrettene */
.matrett {
    margin: 50px 0;
}

/* .left og .pris brukes til å feste navn og pris til samme linje */
.left {
    margin-left: 10%;
    text-align: left; 
}
.pris {
    float: right;
    margin-right: 10%;
}

/* Allergen posisjon og farge */
.allergen {
    color: rgb(177, 160, 137);
    font-size: 15px;
    margin-left: 10%;
}

/* Egen farge for vegetar-retter */
.vegetar {
    color: rgb(87, 186, 85);    
    font-size: 15px;
}




/* Nedskalering til mobil */
@media(max-width: 768px){
    .hovedbilde {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,#2b2b29 100%),url("../images/meny-header-bakgrunn.jpg");
        height: 500px;
    }

    .overskrift{
        font-size: 50px;
    }

    .bilde-tekst{
        font-size: 12px;
    }

    /* Fjerner pilen på mobilversjonen */
    .pil {
        display: none;
    }

    .meny{
        margin-top: 0%;
        width: 100%;
    }

    .matrett{
        margin-right: 10px;
    }
}