* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vmin;
}

html {
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

nav ul, footer ul {
    width: 100%;
    height: fit-content;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    text-shadow: 2px 2px 5px black;
}

a:hover {
    color: gray;
}

img {
    width: 50%;
    height: fit-content;
}

header {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    grid-area: header;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1494522855154-9297ac14b55f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-position: bottom;
}

header h1 {
    display: flex;
    align-self: center;
    text-shadow: 2px 2px 5px black;
    padding-bottom: 50vh;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: rgb(22, 28, 44);
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-rows: 100vh 600vh 10vh;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

.subgrid {
    display: grid;
    grid-template-rows: 100vh 100vh 100vh 100vh 100vh 100vh;
    grid-template-areas:
    "en"
    "to"
    "tre"
    "fire"
    "fem"
    "seks";
}

#en {
    grid-area: en;
}

#to {
    grid-area: to;
    color: white;
    text-shadow: 2px 2px 5px black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1529763832866-6e9ad3963469?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
}

#tre {
    grid-area: tre;
}

#fire {
    grid-area: fire;
    color: white;
    text-shadow: 2px 2px 5px black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1581093577421-f561a654a353?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

#fem {
    grid-area: fem;
}

#seks {
    grid-area: seks;
    color: white;
    text-shadow: 2px 2px 5px black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1579154392128-bf8c7ebee541?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

.boks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-position: center;
}

.tekstboks {
    width: 40%;
    font-size: 1.5em;
    height: max-content;
}

