
/* Fjerner padding og margin på alle elementer for å gjøre det enklere å strukturere elementene */
* {
    margin: 0;
    padding: 0;
}


/* Bruker vmin som font-size slik at teksten skaleres ut ifra minste 
   størrelse av viewwidth og viewheight på siden */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vmax;
}

html {
    scroll-behavior: smooth;
}



/* Navigasjonsbar */
nav {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1% 0 10%;
    pointer-events: none;
}
nav:hover, nav:active {
    pointer-events: all;
}

/* Linker i navigasjonsbar og footer */
nav a, footer a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-shadow: 2px 2px 5px black;
}


/* Setter transition på linkene i navigasjonsbaren. Når man hover over hamburger-knappen
   så blir linkene synlig. Setter delay på linkene slik at det ser ut som de "sklir" bortover */
nav a {
    opacity: 0;
    transition: opacity 0.5s ease;
}
nav a:hover {
    color: gray;
}
nav:hover a {
    opacity: 1;
}
nav:hover .link-1 {
    transition-delay: 0.20s;
}
nav:hover .link-2 {
    transition-delay: 0.10s;
}
nav:hover .link-3 {
    transition-delay: 0s;
}
.link-2 {
    transition-delay: 0.10s;
}
.link-3 {
    transition-delay: 0.20s;
}



/* Knapp til hamburger-meny i navigasjonsbaren */
.hamburger-knapp {
    cursor: pointer;
    pointer-events: all;
}
.hamburger-strek {
    width: 45px;
    height: 6px;
    background-color: white;
    margin: 8px;
    box-shadow: 1px 1px 5px black;

}



/* Forside */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: header;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/alternativ-topical-header.jpg");
    background-size: cover;
    background-position: bottom;
}
header h1 {
    font-size: 3em;
    text-align: center;
    display: flex;
    align-self: center;
    text-shadow: 2px 2px 5px black;
    padding: 0 5vh 50vh 5vh;
}


/* Hovedinnhold */
main {
    grid-area: main;
    font-size: 1.5em;
}
img {
    width: 50%;
}
main a {
    text-decoration: underline;
}


/* Footeren nederst på siden */
footer {
    grid-area: footer;
    background-color: rgb(22, 28, 44);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



/* Bruker grid til å strukturere header, main og footer. Deretter enda en grid
   til å strukturere innholdet i main. Header og hver del i main har høyde 100vh */
.grid {
    display: grid;
    grid-template-rows: 100vh 600vh 10vh;
    grid-template-areas:
    "header"
    "main"
    "footer";
}



/* Deler main opp i en grid med seks deler */
.subgrid {
    display: grid;
    grid-template-rows: 100vh 100vh 100vh 100vh 100vh 100vh;
    grid-template-areas:
    "en"
    "to"
    "tre"
    "fire"
    "fem"
    "seks";
}
.en {
    grid-area: en;
}
.to {
    grid-area: to;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../images/alternativ-topical-bilde-to.jpg");
}
.tre {
    grid-area: tre;
}
.fire {
    grid-area: fire;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/alternativ-topical-bilde-fire.jpg");
}
.fem {
    grid-area: fem;
}
.seks {
    grid-area: seks;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/alternativ-topical-bilde-seks.jpg");
}



/* Klasse for alle delene i main subgridden */
.boks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-position: center;
    padding: 2% 0 2% 0;
}



/* Klasse for alle tekstboksene i main */
.tekstboks-svart, .tekstboks-hvit {
    width: 40%;
    height: max-content;
}

.tekstboks-hvit, .tekstboks-hvit a {
    color: white;
    text-shadow: 2px 2px 5px black;
}

.tekstboks-svart a {
    color: black;
}


/* For mindre skjermer. For mobil, tablet osv. */
@media only screen and (min-width: 600px) {
    .display-none-desktop {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    main {
        font-size: 2.3em;
    }

    img {
        width: 80%;
    }

    header h1 {
        font-size: 3em;
    }

    nav a {
        font-size: 2em;
    }

    .boks {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .tekstboks-hvit, .tekstboks-svart {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {

    main {
        font-size: 2em;
    }

    img {
        width: 100%;
    }

    nav a, footer a {
        font-size: 1.7em;
    }

    .display-none-mobile {
        display: none;
    }

    .hamburger-strek {
        width: 35px;
        height: 5px;
        margin: 7px;
    }

    .tekstboks-hvit, .tekstboks-svart {
        width: 90%;
    }
}
